
<div class="footer-sp site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">

        <h2>Solutions</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="#">Multi-Domain Master Data Management</a></li>
            <li><a href="#">Product Information Management (PIM)</a></li>
            <li><a href="#">Digital Asset Management</a></li>
            <li><a href="#">Spare Parts Management</a></li>
            <li><a href="#">Print Solution</a></li>
            <li><a href="#">Data Integration and Syndication</a></li>
            <li><a href="#">Customer Information Management</a></li>
            <li><a href="#">Material Master Management</a></li>
            <li><a href="#">Data Onboarding</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">

        <h2>Industries</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="#">Retail</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Distribution</a></li>
            <li><a href="#">Energy</a></li>
            <li><a href="#">Healthcare</a></li>
            <li><a href="#">Food Services</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">

        <h2>Company</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="#">History</a></li>
            <li><a href="#">Leadership Team</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Riversand Colors</a></li>
            <li><a href="#">News &amp; Events</a></li>
            <li><a href="#">Webinars</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">

        <h2>Support</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">

        <div class="footer-widgets">
          <div class="row logo"><a href="index.html" class="logo-footer"></a></div>
          <div class="row">
            <p class="email"><a href="mailto:sales@riversand.com">sales@riversand.com</a></p>
          </div>
          <div class="row">
            <p class="phone"><a href="tel:17139348899">+1 713.934.8899</a></p>
          </div>
          <div class="row social">
            <a href="https://www.facebook.com/RiversandTechnologies/" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-facebook-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://plus.google.com/+Riversandmdm" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-googleplus-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://twitter.com/riversandmdm" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-twitter-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://www.youtube.com/user/riversandpim" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-youtube-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://www.linkedin.com/company/riversand-technologies" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-linkedin-light.svg" | absolute_url }}" height="30" width="30"></a>
          </div>
          <div class="row">
            <p class="copyright">&copy; 2017 Riversand All Rights Reserved.</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>