
<div class="footer-sp site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">

        <h2>Solutions</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="javascript:;">Multi-Domain Master Data Management</a></li>
            <li><a href="javascript:;">Product Information Management (PIM)</a></li>
            <li><a href="javascript:;">Digital Asset Management</a></li>
            <li><a href="javascript:;">Spare Parts Management</a></li>
            <li><a href="javascript:;">Print Solution</a></li>
            <li><a href="javascript:;">Data Integration and Syndication</a></li>
            <li><a href="javascript:;">Customer Information Management</a></li>
            <li><a href="javascript:;">Material Master Management</a></li>
            <li><a href="javascript:;">Data Onboarding</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">

        <h2>Industries</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="javascript:;">Retail</a></li>
            <li><a href="javascript:;">Manufacturing</a></li>
            <li><a href="javascript:;">Distribution</a></li>
            <li><a href="javascript:;">Energy</a></li>
            <li><a href="javascript:;">Healthcare</a></li>
            <li><a href="javascript:;">Food Services</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">

        <h2>Company</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="javascript:;">History</a></li>
            <li><a href="javascript:;">Leadership Team</a></li>
            <li><a href="javascript:;">Clients</a></li>
            <li><a href="javascript:;">Partners</a></li>
            <li><a href="javascript:;">Riversand Colors</a></li>
            <li><a href="javascript:;">News &amp; Events</a></li>
            <li><a href="javascript:;">Webinars</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">

        <h2>Support</h2>
        <div class="menu-footer">
          <ul>
            <li><a href="javascript:;">Careers</a></li>
            <li><a href="javascript:;">Contact Us</a></li>
            <li><a href="javascript:;">Sitemap</a></li>
            <li><a href="javascript:;">Privacy Policy</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">

        <div class="footer-widgets">
          <div class="row logo"><a href="index.html" class="logo-footer"></a></div>
          <div class="row">
            <p class="email"><a href="mailto:sales@riversand.com">sales@riversand.com</a></p>
          </div>
          <div class="row">
            <p class="phone"><a href="tel:17139348899">+1 713.934.8899</a></p>
          </div>
          <div class="row social">
            <a href="https://www.facebook.com/RiversandTechnologies/" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-facebook-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://plus.google.com/+Riversandmdm" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-googleplus-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://twitter.com/riversandmdm" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-twitter-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://www.youtube.com/user/riversandpim" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-youtube-light.svg" | absolute_url }}" height="30" width="30"></a>
            <a href="https://www.linkedin.com/company/riversand-technologies" target="_blank" rel="noopener noreferrer"><img src="{{"/assets/images/icon-linkedin-light.svg" | absolute_url }}" height="30" width="30"></a>
          </div>
          <div class="row">
            <p class="copyright">&copy; 2017 Riversand All Rights Reserved.</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>