<div id="hand-over"></div>
<header>
  <div class="container">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2">
        <div class="hamburger"><a href="#" id="c-button--push-left"><img src="/assets/images/hamburger.svg" width="32" height="32"></a></div><div class="logo-holder"><a href="index.html"><img src="/assets/images/logo.png" width="166" height="40"></a></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="search-holder"><button type="submit">search</button><input name="" type="text"></div>

      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="others-holders">
          <div class="language-holder">
            <select id="select-language">
              <option>EN</option>
              <option>BN</option>
              <option>CN</option>
            </select>
          </div>
          <div class="after-login-holder">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><div class="pp"><img src="/assets/images/pic.png" width="32" height="32"></div>
            <div class="pro-info">John Smith<br><span>Developers</span></div></a>
            <div class="dropdown-menu" role="menu">
              <div class="content">
                <ul>
                  <li>
                    <h2>Lorem ipsum</h2>
                    <p>
                      Proin rutrum tincidunt interdum. Duis at pharetra nibh. Pellentesque consectetur tincidunt leo, in laoreet magna gravida eu. Nam faucibus a sapien eu iaculis.
                    </p>
                    <a href="#" class="more">Learn More</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <div class="contact-holder">
            <a href="mailto:idg@riversand.com">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>