<nav id="c-menu--push-left" class="c-menu c-menu--push-left">
    <button class="c-menu__close">&larr; Close Menu</button>
    <div class="right-panel">
        <div class="link-block">
            <div class="link-loop">
                <h2>App Docs</h2>
                <ul>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Entity Manage</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Entitv Search</a></li>
                    <li><a href="#">Ref Data Management</a></li>
                </ul>
            </div>
            <div class="link-loop">
                <h2>SDKS</h2>
                <ul>
                    <li><a href="#">Overview</a></li>
                    <li><a href="rdf-sdk.html">RDF-SDK</a></li>
                    <li><a href="#">RUF-SDK</a></li>
                    <li><a href="#">APIS</a></li>
                </ul>
            </div>
            <div class="link-loop">
                <h2>Guides</h2>
                <ul>
                    <li><a href="#">App Development</a></li>
                    <li><a href="#">App Review</a></li>
                    <li><a href="#">Platform Poﬁcies</a></li>
                    <li><a href="#">Privacy & Consent</a></li>
                </ul>
            </div>
        </div>
        <div class="links-massage">
            <a href="#"><img src="/assets/images/left-massage-icon.jpg" width="47" height="47"></a>
        </div>
    </div>
</nav>
<div id="c-mask" class="c-mask"></div>