<div class="left-side">
  <div class="color-left-scroller">
    <h4>All Docs</h4>
    <div class="side-nav">
      <ul class="cd-accordion-menu animated">
        <li class="has-children">
          <input type="checkbox" name ="group-1" id="group-1" checked>
          <label for="group-1">Authentication Services</label>
          <ul class="auth-service">
            <li><a href="{{"/docs/before_you_begin" | relative_url}}" class="before_you_begin">Before you Begin</a></li>
            <li><a href="{{"/docs/understanding_request_headers" | relative_url}}" class="request_headers">Understanding the Request Headers</a></li>
            <li><a href="{{"/docs/generating_auth_token" | relative_url}}" class="authentication_token">Generating Authentication Token</a></li>
            <li><a href="{{"/docs/sending_api_request" | relative_url}}" class="api_request">Sending an API Request</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-2" id="group-2">
          <label for="group-2">Entity Services</label>
          <ul>
            <li><a javascript:;>demo link</a></li>
            <li><a javascript:;>demo link</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-3" id="group-3">
          <label for="group-3">Entity Model Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-4" id="group-4">
          <label for="group-4">Entity Govern Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-5" id="group-5">
          <label for="group-5">Entity Import Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-6" id="group-6">
          <label for="group-6">Entity Export Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-7" id="group-7">
          <label for="group-7">Configuration Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-8" id="group-8">
          <label for="group-8">Match Search Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-9" id="group-9">
          <label for="group-9">Request Tracking Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-10" id="group-10">
          <label for="group-10">Binary Object Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-11" id="group-11">
          <label for="group-11">Event Services</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-12" id="group-12">
          <label for="group-12">Binary Stream Object Service</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name ="group-13" id="group-13">
          <label for="group-13">Entity Graph Service</label>
          <ul>
            <li><a javascript:;>Image</a></li>
            <li><a javascript:;>Image</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>