<div class="breadcrumb">
  <ul>
    <li><a href="{{"/developer" | absolute_url}}">Home</a></li>
    <li><a href="{{"/developer" | absolute_url}}">Developer</a></li>
    <li>
      <a href="#">
        Doc <i class="fa fa-caret-down" aria-hidden="true"></i>
      </a>
      <div class="arrow_box">
        <ul class='category'>
          <li><a href="#started">Get Started</a></li>
          <li><a href="#constitutes_rdf">What constitutes RDF?</a></li>
          <li><a href="#use_rdf">Who can use RDF and How to use RDF?</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="other-options">
    <div class="next-prev"><a href="#" class="prev" title="Previous Page"><img src="{{"assets/images/prev-icon.png" | absolute_url}}"></a><a href="#" class="next" title="Next Page"><img src="{{"assets/images/next-icon.png" | absolute_url}}"></a></div>
    <div class="print-option"><a href="#" title="Print" class="print-bt"><img src="{{"assets/images/print-icon.png" | absolute_url}}"></a></div>
    <div class="pdf-option"><a href="#" title="PDF" class="pdf-bt"><img src="{{"assets/images/pdf-icon.png" | absolute_url}}"></a></div>
  </div>
</div>
