<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/stylesheets/application.css" | absolute_url }}">
  <body>
    <!-- {% include header.html %} -->
    <div class="page-wapper o-wrapper" id="o-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>
    {% include sidebar.html %}
  </body>
  <script type="text/javascript" src="{{"/assets/javascripts/jquery-1.9.1.min.js" | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/owl.carousel.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/tether.min.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/bootstrap.min.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/jquery.meanmenu.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/jquery.selectric.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/parallax.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/jquery-scrolltofixed.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/cascadingDivs.min.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/jquery.matchHeight.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/jquery.mCustomScrollbar.concat.min.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/jquery-equal-height.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{"/assets/javascripts/menu.js"  | absolute_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/javascripts/application.js" | absolute_url }}"></script>
</html>
